{% extends "base.html" %}

{% block title %}Delete Recipe {{ object.title }}{% endblock %}

{% block contents %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Delete</h1>
    <div class="d-flex justify-content">
        <form method="post" class="text-center">
            {% csrf_token %}
            <p>Are you sure to delete "{{ object.title }}" ?</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-25">
        </form>
    </div>
</div>

{% endblock %}